html,body {
    height: 100%;
    margin: 0;
    font-family: 'Arimo', Arial, sans-serif;
}
header {
    background-color: #353744;
    height: 8%;
    width: 100%;
    text-align: center;
}

h1 header {
    display: none;
}
nav {
    float:left;
    background-color: #643CC7;
    width: 20%;
    height: 92%;
}

main {
    float: right;
    background-color: #FFFFFF;
    width: 80%;
    height: 92%;
}

#DragAndDrop {
   border-color: blue; 
}